---
layout: default
---

<header>
  <div id="douwemaan">
    <meta itemprop="gender" content="Male" />

    <h1 itemprop="name">
      <span itemprop="givenName">Douwe</span>
      <span itemprop="familyName">Maan</span>
    </h1>
  </div>

  <nav>
    <ul>
      <li>
        <a href="#person">
          <span class="name">Douwe Maan</span> is a person
        </a>
      </li>

      <li>
        <a href="#developer">
          <span class="name">Douwe Maan</span> is a developer
        </a>
      </li>

      <li>
        <a href="#professional">
          <span class="name">Douwe Maan</span> is a professional
        </a>
      </li>

      <li>
        <a href="#social">
          <span class="name">Douwe Maan</span> is social
        </a>
      </li>
    </ul>
  </nav>
</header>

<div class="traits" itemscope itemtype="http://schema.org/Person" itemref="douwemaan">
  <section id="person">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">is</span> a person
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">was</span> born in
        <span itemprop="nationality">the Netherlands</span>
        23 years ago, on
        <time itemprop="birthDate" datetime="1994-01-01">January 1st</time>
      </li>

      <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="name">Douwe Maan</span>
        <span class="verb">lives</span> in
        <span itemprop="addressLocality">Utrecht</span>, <span itemprop="addressCountry">the Netherlands</span>
        with his wonderful girlfriend
      </li>

      <li itemprop="worksFor" itemscope itemtype="http://schema.org/Corporation">
        <meta itemprop="legalName" content="GitLab, Inc." />
        <span itemprop="employee" itemscope itemtype="http://schema.org/Person" itemref="douwemaan"></span>

        <span class="name">Douwe Maan</span>
        <span class="verb">leads</span> the platform backend team at
        <a href="https://about.gitlab.com/" target="_blank" itemprop="url"><span itemprop="name">GitLab</span></a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">traveled</span>
        for 6 months visiting colleagues
        <a href="https://about.gitlab.com/2017/01/31/around-the-world-in-6-releases/" target="_blank">around the world</a>
      </li>

      <li itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
        <span class="name">Douwe Maan</span>
        <span class="verb">studied</span> Computer Science at
        <span itemprop="name">Utrecht University</span>
      </li>
    </ul>
  </section>

  <section id="developer">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">is</span> a developer
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">builds</span>
        web, mobile and desktop applications
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">caught</span>
        the programming virus at the age of nine
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">is</span> pretty seriously seeing
        <strong>Ruby &amp; Ruby on Rails</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">likes</span> to spice things up with
        <strong>JavaScript, HTML &amp; CSS</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">enjoys</span> the occasional dinner-and-a-movie with
        <strong>C# &amp; .NET</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">spent</span> two years together with
        <strong>Objective-C &amp; Cocoa (Touch)</strong>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has</span> had flings with
        <strong>
          Java <small>(Android)</small>,
          C <small>(Pebble)</small>,
          Haskell,
          Prolog &amp;
          PHP
        </strong>
      </li>
    </ul>
  </section>

  <section id="professional">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">is</span> a professional
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">shapes</span> the future of software development at
        <a href="https://about.gitlab.com/" target="_blank">GitLab</a>

        <small>
          (<span title="Earlier: developer (Feb 2015&ndash;Jan 2016)">backend lead</span>; Feb 2015&ndash;present)
        </small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">makes</span>
        <span style="letter-spacing: -1px;">B&amp;B</span>
        owners&rsquo; lives easier at
        <a href="http://www.stinngo.com/" target="_blank">Stinngo</a>

        <small>(co-founder &amp; CTO; Jan 2012&ndash;present)</small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">built</span> nifty utility iOS and Mac apps at
        <a href="http://www.studiodalton.com/" target="_blank">StudioDalton</a>
        <small>(lead developer; Jan 2011&ndash;Aug 2012)</small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">used to do</span> boring old freelance PHP web development
        <small>(2005&ndash;2010)</small>
      </li>
    </ul>
  </section>

  <section id="social">
    <h2>
      <span class="name">Douwe Maan</span>
      <span class="verb">is</span> social
    </h2>

    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">works</span> completely in the open at
        <a href="https://gitlab.com/DouweM" target="_blank">gitlab.com/DouweM</a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">shares</span> code via
        <a href="https://github.com/DouweM" target="_blank">github.com/DouweM</a>

        <small>(and appreciates the irony)</small>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">occasionally tweets</span> as
        <a href="https://twitter.com/DouweM" target="_blank">@DouweM</a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">reads</span> email sent to
        <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#105;&#64;&#100;&#111;&#117;&#119;&#101;&#46;&#109;&#101;"><span itemprop="email">&#104;&#105;&#64;&#100;&#111;&#117;&#119;&#101;&#46;&#109;&#101;</span></a>
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">has</span> prepared a
        <a href="/Douwe%20Maan.vcf">vCard</a>
        specially for you
      </li>
    </ul>
  </section>

  <section>
    <ul>
      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">hosts</span>
        <a href="https://gitlab.com/DouweM/douwem.gitlab.io" target="_blank">this website</a>
        on GitLab Pages
      </li>

      <li>
        <span class="name">Douwe Maan</span>
        <span class="verb">holds</span> the copyright to this site, obviously
      </li>
    </ul>
  </section>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="/javascripts/yoda.js"></script>
