<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="douwe maan, gitlab, stinngo, toopia" />
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=0.66, minimum-scale=0.66, maximum-scale=0.66, user-scalable=no" />

    <link rel="stylesheet" media="all" type="text/css" href="/stylesheets/main.css" />
    
    <title>Douwe Maan{% if page.title %} - {{ page.title }}{% endif %}</title>
  </head>

  <body>
    {{ content }}

    <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement("script");
      t.type  = "text/javascript";
      t.async = true;
      t.id    = "gauges-tracker";
      t.setAttribute("data-site-id", "4f89c9d2f5a1f5495100002f");
      t.src   = "//secure.gaug.es/track.js";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(t, s);
    })();
    </script>
  </body>
</html>
